<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.storeinfolibrary">
    <application>
        <meta-data
            android:name="org.godotengine.plugin.v1.StoreInfoLibrary"
            android:value="com.example.storeinfolibrary.StoreInfo" />
    </application>
</manifest>